.discordBG {
    background-image: url('./Discord-banner.webp');
    background-size: cover;
    height: 200px;
}
.discordTitle {
    font-family: 'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-size: calc(1.75rem + 1.5vw);
}
#homeBody {
    background-color: white;
}
.infocardheight {
    height: calc(100vh - 50%)
}
.infocardsbg {
    background-image: url(./findbg.webp);
  background-size: cover;
    height: 350px;
    position: relative;

}
.whitespace {
    height: 350px;
    /* background-color: white; */
    position: relative;
}